@import "~typeface-karla";
@import "~david.tools/src/index.css";
@import "~david.tools/src/Nav.css";
@import "~david.tools/src/NotFound.css";
@import "~github-markdown-css";
@import "./Posts.css";
@import "./Post.css";
@import "./Comments.css";
@import "./CommentLink.css";

.markdown-body {
  font-family: inherit;
  color: inherit;
  letter-spacing: -0.005em;
  font-size: inherit;
}

.markdown-body h1,
.markdown-body h2 {
  border: none;
}

.markdown-body p {
  hyphens: auto;
}

.markdown-body img {
  border-radius: 2px;
}
