@import "~typeface-karmilla";
@import "~david.tools/src/index.css";
@import "~david.tools/src/Nav.css";
@import "~david.tools/src/NotFound.css";
@import "~github-markdown-css";
@import "./Posts.css";
@import "./Post.css";
@import "./Comments.css";
@import "./CommentLink.css";

body {
  font-family: Karmilla, sans-serif;
}

.u-btn {
  background: rgba(73, 79, 161, 0.05);
  border-radius: 2px;
  color: inherit;
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.u-btn:hover {
  background: rgba(34, 38, 88, 0.1);
}

.u-video {
  position: relative;
  padding-bottom: 100%;
}

.u-video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.markdown-body {
  font-family: inherit;
  color: inherit;
  letter-spacing: -0.005em;
  font-size: inherit;
  line-height: 1.6;
}

.markdown-body h1,
.markdown-body h2 {
  border: none;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 1.35;
}

.markdown-body p {
  hyphens: auto;
}

.markdown-body img {
  border-radius: 2px;
}

.markdown-body div:empty {
  margin-bottom: 8rem;
}
